
body {
    margin: 0;
    padding: 0;
    background-color: none;
    overflow-x: hidden;
  }
  
  h1 {
    color: brown;
    text-align: center;
  }
  
  .grid {
    display: grid;
    position: relative;
    width: 50%;
    grid-template-columns: repeat(6, 1fr);
    margin: 5% 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .grid > div {
    position: relative;
    height: 0;
    overflow: hidden;
    text-align: center;
    padding-bottom: 90%;
    margin: 5%;
    border-radius: 6vw;
    background-color: lightblue;
    cursor: pointer;
  }
  
  .emoji {
    position: absolute;
    font-size: 1.8vw;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotateZ(335deg);
  }
  
  .button {
    border: 2px solid #4CAF50;
    color: green;
    border-radius: 1vw;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    margin-left: 41.5vw;
  }
  
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  } 