
*.gridRow {
    display: grid;
    border: 1px solid black;
    grid-template-columns: min-content;
}

.cell {
    display: grid;
    border: 1px solid black;
    grid-template-columns: min-content;
}